.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position:relative
}
.product img{
    height: 286px;
    width: 286px; 
    border-radius: 8px; 
    margin: 7px 7px 0 7px;
}
.product-details{
    margin: 0 14px;
}
.product-details p{
    margin-bottom: 0;
}
.produt-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}
.btn-cart{
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-text{
    margin-right: 10px;
}
.btn-cart:hover{
    background-color: orangered;
    color: white;
}

